<footer class="main-footer text-center py-3 px-2" 
        style="background-color: #1e2a38; color: #cfd8dc; border-top: 2px solid #0d6efd; font-size: 0.95rem;">
  <div class="container-fluid">
    <strong>
      &copy; {% now "Y" %} 
      <a href="https://exaltedschool.ac.ke" target="_blank" 
         style="color: #0d6efd; text-decoration: none;">
        Exalted School
      </a>.
    </strong> 
    All rights reserved.
    
    <div class="float-right d-none d-sm-inline-block">
      <b>Version</b> 1.0 &nbsp;|&nbsp; Developed by 
      <span style="color: #0d6efd; font-weight: 500;">Kipngenoh Aaron Rotich</span>
    </div>
  </div>
</footer>
